@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
}

:root {
    --back: #000;
    --gray: #333;
    --white: #fff;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo {
    position: relative;
    display: inline-flex;
    color: #333;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rightside {
    display: flex;
}

.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns .menutoggle ion-icon {
    font-size: 3em;
}

.btns ion-icon {
    font-size: 1.5em;
    color: #333;
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}

.main h2 {
    position: relative;
    z-index: 3;
    font-size: 10vw;
    color: #fff;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 4;
    transition: .5s;
}

.navigation.active {
    left: 0;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    text-decoration: none;
    color: #333;
    padding: 5px 20px;
    border-radius: 40px;
}

.navigation li a:hover {
    background-color: #333;
    color: #fff;
}

.copyright {
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
}

.social {
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 4;
    display: flex;
    flex-direction: row;
}

.social li {
    list-style: none;
    margin: 0 5px;
}

.social li a {
    text-decoration: none;
    color: #333;
    font-size: 1.75em;
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    .copyright {
        left: 20px;
        bottom: 30px;
    }
    .social {
        right: 20px;
        bottom: 30px;
    }
}

/* ------------- BODY ------------- */

h1 {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  padding: 0;
  margin: 0;
}

h2 {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 70px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

h3 {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #333;
}

p {
  /* font-family: 'Source Sans Pro', sans-serif; */
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

.sc {
  color: #a01a58;
}

.ny {
  color: #a01a58;
}

.atw {
  color: #a01a58;
}

/* Section - Block */
/**************************/
.block {
  background: #fff;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

.block-gray {
  background: #fff;
  padding: 60px;
}

.section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.70;
}

/* Section - Parallax */
/**************************/
.container {
  width: 70%;
  margin: 0 15% 0 15%;
}

.parallax-one {
  margin-top: 20%;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(images/section1.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(images/section2.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(images/section3.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* Extras */
/**************************/
.line-break {
  border-bottom: 1px solid var(--black);
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  .block {
    padding: 30px;
    width: 420px;
  }

  h2 {
    font-size: 30px;
  }

  .block {
    padding: 30px;
  }

  .parallax-one,
  .parallax-two,
  .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  .block {
    padding: 30px 15px;
    width: 290px;
  }
}

/* --- FOOTER --- */

.container-footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background: linear-gradient(to right, #6d597a 30%, #b56576);
  /* background-color: #0b3c5d; */
  padding: 50px 0;
}

.footer-col {
  width: 25%;
  /* padding: 0 5px; */
  margin-left: -20px;
  flex-direction: row;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.1s ease-in;
}

.footer-col .social-links .ig:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  transform: scale(1.1);
}

.footer-col .social-links .ig:hover i {
  transform: scale(1.1) translateX(-3px);
}

.footer-col .social-links .linkedin:hover {
  background: #0e76a8;
  transform: scale(1.1);
}

.footer-col .social-links .linkedin:hover:hover i {
  transform: scale(1.1) translateX(-3px);
}

.footer-col .social-links .facebook:hover {
  background: #3b5998;
  transform: scale(1.1);
}

.footer-col .social-links .facebook:hover i {
  transform: scale(1.1) translateX(-3px);
}

.footer-col .social-links .twitter:hover {
  background: #08a0e9;
  transform: scale(1.1);
}

.footer-col .social-links .twitter:hover:hover i {
  transform: scale(1.1) translateX(-3px);
}

.primera {
  margin-left: 20px;
}

.columna1 {
  margin-left: 90px;
}

.columna2 {
  margin-left: 50px;
}

.columna3 {
  margin-left: -30px;
  padding: auto;
  width: fit-content;
}

.columna-redes {
  /* position: absolute; */
  /* top: auto; */
  width: 100%;
}

ul {
  margin-top: -10px;
}

.footer-redes {
  content: 50px;
  width: fit-content;
  margin-left: -40px;
}

.social-links {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  /* margin-top: 40px; */
}

.social-links ul {
  margin-top: 2px;
}

.social-links ul li {
  margin-top: -10px;
}


.descripcion {
  width: 250px;
  margin-top: -10px;
  transition: all 0.3s ease;
}

.descripcion a {
  text-decoration: none;
  color: #bbb;
}

.descripcion:hover a {
  color: #fff;
}

.descripcion:hover {
  color: #fff;
  padding-left: 8px;
}

.inferior {
  background-color: #02131f;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  padding: 12px;
}

.derechos {
  color: white;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* --- MAPA --- */

#map,
#pano {
  height: 100%;
  width: 50%;
  margin: 50px 25%;
}